<template>
  <q-page class="q-pa-lg">
    <div class="row flex">
      <card
        class="col q-ma-md"
        to-name="recordings"
        title="All recordings in DB"
        :count="recordings"
        header-class="bg-purple"
      />
      <card
        class="col q-ma-md"
        to-name="unmatched"
        title="Unmatched recordings"
        :count="unmatched"
        header-class="bg-green"
      />
    </div>
  </q-page>
</template>

<script>
import {computed, defineComponent} from 'vue';
import Card from 'components/Card';
import {useStore} from 'vuex';

export default defineComponent({
  name: 'PageHome',
  components: {Card},
  setup() {
    const store = useStore();
    store.dispatch('recording/loadList');
    store.dispatch('recording/loadListInput');

    const counts = computed(() => store.getters['recording/getCounts']);
    const recordings = computed(() => counts.value.recordings);
    const unmatched = computed(() => counts.value.unmatched);

    return {
      recordings,
      unmatched,
    };
  },
})
</script>
