<template>
  <q-page class="q-pa-lg">
    <btn-back/>

    <q-table
      class="q-my-lg"
      title="Match recording"
      :rows="recordings"
      :columns="columns"
      row-key="id"
      selection="single"
      :loading="!recordings"
      v-model:selected="selected"
    >
      <template v-slot:top-right>
        <q-checkbox class="q-mx-md" v-model="isAllRecordings" label="All recordings" />
        <table-search v-model="search"/>
      </template>

      <template v-slot:body-cell-matches="props">
        <t-d-matches-btn :props="props"/>
      </template>

    </q-table>
    <q-btn
      color="primary"
      :disabled="matchBtnDisabled"
      :loading="matchedBtnLoading"
      label="Save"
      @click="setMatched"
    />
    <q-btn
      class="q-ml-md"
      color="primary"
      :disabled="newBtnDisabled"
      :loading="newBtnLoading"
      label="New recording"
      @click="addNewRecord"
    />
  </q-page>
</template>

<script>
import { defineComponent, computed, ref } from 'vue';
import { useStore } from 'vuex';
import { useRoute, useRouter } from 'vue-router';
import {matchedColumns as columns} from 'src/constants/recordings';
import {useRecordingSearch, useActionLoading, useMatchedRecordings} from "src/hooks";
import TableSearch from 'components/TableSearch';
import {toast} from 'src/pkg';
import TDMatchesBtn from 'components/TDMatchesBtn';
import BtnBack from 'components/BtnBack';

export default defineComponent({
  name: 'PageMatch',
  components: {BtnBack, TDMatchesBtn, TableSearch},
  setup() {
    const selected = ref([]);
    const store = useStore();
    const router = useRouter();
    const route = useRoute();
    const matchBtnDisabled = computed(() => !recordings.value || !selected.value.length);
    const newBtnDisabled = computed(() => !recordings.value || selected.value.length);
    const [isAllRecordings, matchedRecordings] = useMatchedRecordings(false, route.params.id);
    const [search, recordings] = useRecordingSearch(matchedRecordings);

    const [matchedBtnLoading, setMatched] = useActionLoading(async () => {
      await store.dispatch('recording/setMatchedInput', selected.value[0].id);
      await router.push({name: 'unmatched'});
      toast.success('Recording matched successfully');
    });

    const [newBtnLoading, addNewRecord] = useActionLoading(async () => {
      await store.dispatch('recording/addNewRecording', route.params.id);
      await router.push({name: 'unmatched'});
      toast.success('Recording created successfully');
    });

    return {
      search,
      columns,
      recordings,
      selected,
      isAllRecordings,
      matchBtnDisabled,
      newBtnDisabled,
      matchedBtnLoading,
      newBtnLoading,
      setMatched,
      addNewRecord,
    };
  }
})
</script>
