<template>
  <q-page class="q-pa-lg">
    <btn-back/>

    <q-table
      class="q-my-lg"
      title="Matched Recordings"
      :rows="recordings"
      :columns="columns"
      row-key="id"
      :loading="!recordings"
    >
      <template v-slot:top-right>
        <table-search v-model="search"/>
      </template>
    </q-table>
  </q-page>
</template>

<script>
import { defineComponent, computed } from 'vue';
import { useStore } from 'vuex';
import {useRoute} from 'vue-router';
import {useRecordingSearch} from 'src/hooks';
import {unmatchedColumns as columns} from 'src/constants/recordings';
import TableSearch from 'components/TableSearch';
import BtnBack from 'components/BtnBack';

export default defineComponent({
  name: 'PageMatched',
  components: {BtnBack, TableSearch},
  setup() {
    const store = useStore();
    const route = useRoute();
    store.dispatch('recording/loadListMatched', route.params.id);
    const allRecordings = computed(() => store.getters['recording/getListMatched']);
    const [search, recordings] = useRecordingSearch(allRecordings);

    return {search, columns, recordings};
  },
})
</script>
