<template>
  <q-page class="q-pa-lg">
    <q-table
      class="q-my-lg"
      title="All Recordings"
      :rows="recordings"
      :columns="columns"
      row-key="id"
      :loading="!recordings"
    >
      <template v-slot:top-right>
        <table-search v-model="search"/>
      </template>

      <template v-slot:body-cell-matches="props">
        <t-d-matches-btn :props="props"/>
      </template>

    </q-table>
  </q-page>
</template>

<script>
import { defineComponent, computed } from 'vue';
import { useStore } from 'vuex';
import {useRecordingSearch} from 'src/hooks';
import {matchedColumns as columns} from 'src/constants/recordings';
import TableSearch from 'components/TableSearch';
import TDMatchesBtn from "components/TDMatchesBtn";

export default defineComponent({
  name: 'RecordingsIndex',
  components: {TDMatchesBtn, TableSearch},
  setup() {
    const store = useStore();
    store.dispatch('recording/loadList');
    const allRecordings = computed(() => store.getters['recording/getList']);
    const [search, recordings] = useRecordingSearch(allRecordings);

    return {search, columns, recordings};
  },
})
</script>
