<template>
  <q-page class="q-pa-lg">
    <q-table
      class="q-my-lg"
      title="Unmatched Recordings"
      :rows="recordings"
      :columns="columns"
      row-key="id"
      :loading="!recordings"
      @row-click="onRowClicked"
    >
      <template v-slot:top-right>
        <table-search v-model="search"/>
      </template>
    </q-table>
  </q-page>
</template>

<script>
import { defineComponent, computed } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import {useRecordingSearch} from 'src/hooks';
import {unmatchedColumns as columns} from 'src/constants/recordings';
import TableSearch from 'components/TableSearch';

export default defineComponent({
  name: 'PageUnmatched',
  components: {TableSearch},
  setup() {
    const store = useStore();
    const router = useRouter();
    store.dispatch('recording/loadListInput');
    const allRecordings = computed(() => store.getters['recording/getListInput']);
    const [search, recordings] = useRecordingSearch(allRecordings);

    const onRowClicked = (e, {id}) => router.push({name: 'match', params: {id}});

    return {search, columns, recordings, onRowClicked};
  },
})
</script>
