<template>
  <q-drawer
    show-if-above
    bordered
  >
    <q-list>
      <drawer-item
        v-for="({toName, title}, key) in items"
        :key="key"
        :to-name="toName"
        :title="title"
      />
    </q-list>
  </q-drawer>
</template>

<script>
import {items} from 'src/constants/navigation';
import DrawerItem from "components/DrawerItem";

export default {
  name: 'AppDrawer',
  components: {DrawerItem},
  setup() {
    return {items};
  },
}
</script>
