<template>
  <q-header elevated>
    <q-toolbar>
      <q-btn
        flat
        dense
        round
        icon="menu"
        aria-label="Menu"
        @click="toggle"
      />

      <q-toolbar-title>
        Recording matcher
      </q-toolbar-title>
    </q-toolbar>
  </q-header>
</template>

<script>
export default {
  name: 'AppHeader',
  setup(_, {emit}) {
    const toggle = () => emit('toggle');
    return {toggle};
  },
}
</script>
