<template>
  <q-btn color="primary" icon="arrow_back" label="back" @click="goBack"/>
</template>

<script>

import {useRouter} from "vue-router";

export default {
  name: 'BtnBack',
  setup() {
    const router = useRouter();
    const goBack = () => {
      router.go(-1);
    }

    return {goBack};
  },
}
</script>
