<template>
  <q-card>
    <q-card-section class="text-white" :class="headerClass">
      <div class="text-h6">{{ title }}</div>
    </q-card-section>

    <q-separator />

    <q-card-actions align="between" class="q-pa-lg">
      <div class="text-h2">{{ count }}</div>
      <q-btn
        :to="{name: toName}"
        :class="headerClass"
        color="white"
      >
        Go to list
      </q-btn>
    </q-card-actions>

    <q-inner-loading :showing="loading"/>
  </q-card>
</template>

<script>
import {computed, toRefs} from 'vue';

export default {
  name: 'Card',
  props: {
    toName: String,
    title: String,
    count: Number,
    headerClass: {
      type: String,
      default: 'bg-primary',
    },
  },
  setup(props) {
    const {count} = toRefs(props);
    const loading = computed(() => count.value === undefined);

    return {loading};
  },
}
</script>
