<template>
  <q-item :to="{name: toName}" exact clickable v-ripple>
    <q-item-section avatar>
      <q-icon name="list" />
    </q-item-section>
    <q-item-section>
      {{ title }}
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'DrawerItem',
  props: {
    toName: String,
    title: String,
  },
}
</script>
