<template>
  <q-input borderless dense debounce="300" placeholder="Search">
    <template v-slot:append>
      <q-icon name="search" />
    </template>
  </q-input>
</template>

<script>

export default {
  name: 'TableSearch',
}
</script>
