<template>
  <q-td :props="props">
    <q-btn color="primary" :to="{name: 'matched', params: {id: props.row.id}}" :label="props.value"/>
  </q-td>
</template>

<script>

export default {
  name: 'TDMatchesBtn',
  props: {
    props: Object,
  },
}
</script>
