<template>
  <q-layout view="lHh Lpr lFf">
    <app-header @toggle="toggleLeftDrawer"/>

    <app-drawer v-model="leftDrawerOpen"/>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

import { defineComponent } from 'vue'
import {useToggle} from 'src/hooks/useToggle';
import AppDrawer from 'components/AppDrawer';
import AppHeader from 'components/AppHeader';

export default defineComponent({
  name: 'MainLayout',
  components: {AppHeader, AppDrawer},
  setup () {
    const [leftDrawerOpen, toggleLeftDrawer] = useToggle(false);

    return {
      leftDrawerOpen,
      toggleLeftDrawer,
    }
  }
})
</script>
